{% extends 'catalog/base.html' %}
{% block content %}
{% load my_tags %}
<div style='max-width: 855px; margin: 0 auto;'>
    <div class="list_products justify-content-center">
        {% for objects in objects_list %}
        <div class="p_item">
            <div class="p_price">{{ objects.price }}<img src="{{ 'product/rub.png'|media_url }}"/>
            </div>
            <div class="p_image">
                <a href="/product/{{ objects.pk }}"><img src="{{ objects.image|media_url }}"></a>
            </div>
            <div class="p_name">
                <p>{{ objects.name }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="text-center me-4">
        {% if start_page %}
        <a class="p-2 btn btn-outline-success form-control" href="{{ start_page }}">Подробнее</a>
        {% endif %}

        {% if prev_url %}
        <a class="p-2 btn btn-outline-success {{ prev_disabled }}" href="{{ prev_url }}">Предыдущая</a>
        {% endif %}

        {% if next_url %}
        <a class="p-2 btn btn-outline-success {{ next_disabled }}" href="{{ next_url }}">Следующая</a>
        {% endif %}
</div>
</div>
{% endblock %}